include README.md
include LICENSE
include pyproject.toml
recursive-include fsq_sdk *.py
recursive-include tests *.py
recursive-include examples *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.fsq
